* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
    width: 100%;
    background-color: rgb(49, 49, 49);
    height: 80px;
}

.nav a {
    text-decoration: none;
    font-size: 40px;
    color: white;
    position: relative;
    top: 20px;
    margin-left: 20px;
}

.nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-left: 100px;
}

.nav ul li a:hover {
    color: rgb(255, 143, 143);
    transition: ease-in-out 200ms;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 10px;
    list-style: none;
    float: right;
    margin-right: 40px;
}
.sec1 h1 {
    display: flex;
    justify-content: center;
    color: rgb(65, 65, 255);
    font-size: 30px;
    margin-top: 120px;
}
.sec1 h2 {
    display: flex;
    justify-content: center;
    color: rgb(65, 65, 255);
    font-size: 30px;
    margin-top: 20px;
    margin-left: 280px;
}
.codes div {
    width: 90%;
    margin-left: 5%;
}


